.hero {
    background-color: #404040;
    color: #FFF;
    margin-bottom: 80px;
    background-position: center;
    background-size: cover;

    @media (max-width: 768px) {
        margin-bottom: 64px;
    }
    @media (max-width: 420px) {
        margin-bottom: 24px;
    }

    &__women {
        background-image: url('./img/bg-women.jpg');

        @media (max-width: 768px) {
            background-image: url('./img/bg-disctop-women.jpg');
        }
        @media (max-width: 420px) {
            background-image: url('./img/bg-mobail-women.jpg');
        }
    }

    &__men {
        background-image: url('./img/bg-men.jpg');

        @media (max-width: 768px) {
            background-image: url('./img/bg-tablet-men.jpg');
        }
        @media (max-width: 420px) {
            background-image: url('./img/bg-mobil-men.jpg');
        }
    }


    &__content {
        max-width: 590px;
        padding: 172px 0 86px;

        @media (max-width: 768px) {
            max-width: 405px;
            padding: 156px 0 50px;
        }
        @media (max-width: 420px) {
            padding: 76px 0 24px;
        }
    }

    &__link {
        display: inline-block;
        padding: 14px 40px;
        font-weight: 700;
        font-size: 14px;
        line-height: 17px;
        text-trsansform: uppercase;
        border: 1px solid #FFFFFF;
        transition-property: background-color, border-color;
        transition-timing-function: ease-in-out;
        transition-duration: .3s;
        background-color: transparent;

        @media (max-width: 768px) {
            font-size: 10px;
            line-height: 12px;
            padding: 12px 40px;
        }

        &:hover {
            background-color: #404040;
            border-color: #404040;
        }
    }

    &__title {
        font-weight: 400;
        font-size: 44px;
        line-height: 120%;
        text-trsansform: uppercase;
        margin-bottom: 40px;

        @media (max-width: 768px) {
            font-size: 30px;
            margin-bottom: 24px;
        }
        @media (max-width: 420px) {
            font-size: 20px;
            margin-bottom: 16px;
        }
    }
}